<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.customevent.ADAPTER_NAME"-->
<!--            android:value="com.tapmimd.ads.mediation.adapter.TapMindAdapterAdmob" />-->

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.customevent.AD_TYPE"-->
<!--            android:value="banner" />-->

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.META"-->
<!--            android:value="banner"/>-->

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.META"-->
<!--            android:value="interstitial"/>-->

        <meta-data
            android:name="com.google.android.gms.ads.ADAPTER_SCOPE"
            android:value="all"/>

        <meta-data
            android:name="com.google.android.gms.ads.mediation.ADAPTERS"
            android:value="com.tapmimd.ads.mediation.adapter.TapMindAdapterAdmob" />

    </application>

</manifest>